body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container { 
    width: 80%;
    max-width: 700px;
    padding: 30px;
    background-color: #1e201cf0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(54, 54, 54, 0.836);
    text-align: center;
    margin: 20px auto;
    margin-left: 400px;
    margin-right: 400px;
}


.card {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 40px;
}

.logo img {
    width: 40px; 
    height: auto;
    margin-right: 8px;
}

.texto-logo {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}


h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 5px;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.icon {
    margin-right: 10px;
    color: #b00933;
}

input {
    width: 100%;
    border: none;
    background: none;
    color: white;
    outline: none;
}

button {
    background-color: #7b61ff;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}


.back-link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #7b61ff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}
