body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0d0d0d;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 700px;
    padding: 30px;
    background-color: #161616;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
    margin-left: 450px;
    margin-right: 450px;
}


.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 40px;
}

.logo img {
    width: 40px; 
    height: auto;
    margin-right: 8px;
}

.texto-logo {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.description {
    color: #a0aec0;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

/* Inputs */
.input-group {
    text-align: left;
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    color: #e2e8f0;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #242424;
    border-radius: 8px;
    padding: 0.75rem;
}

.input-container input {
    flex: 1;
    border: none;
    background: none;
    color: white;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
}

.icon {
    color: #7B61FF;
    font-size: 1.2rem;
}

.eye-icon {
    color: #a0aec0;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Botón */
.reset-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #7B61FF;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
}

.reset-btn:hover {
    background-color: #6A50E0;
}

/* Enlace */
.text-center {
    margin-top: 1rem;
}

.back-link {
    font-size: 0.9rem;
    color: #7B61FF;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}